.expertise-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    filter: brightness(60%);
}

.expertise-container {
    position: relative;
    padding-bottom: 10rem;
}

.expertise-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: white;
    font-size: 1.5rem;
}

.expertise-1 {
    padding: 4rem;
}
  
.section-title {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: aqua;
    filter: drop-shadow(0 0 0.5rem aqua);
    padding-top: 4rem;
}
  
.items-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}
  
.items-wrapper {
    position: relative;
    width: 100%;
}
  
.expertise-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(237,237,237,0.2);
    box-shadow: 0 0.5rem 1rem rgba(237,237,237,0.5),  0 0.2rem 0.4rem aqua;
    height: 14rem;
    width: 18rem;
    border-radius: 15px;
}

.expertise-item-img {
    height: 4.5rem;
}
  
.expertise-item-pic-wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.expertise-item:hover {
    box-shadow: 0 0.7rem 1.5rem rgba(237,237,237,0.6), 0 0.3rem 0.7rem aqua;
}

.expertise-item:hover .expertise-item-img {
    transform: scale(1.3) rotateZ(360deg);
    transition: 0.3s all;
}
  
.expertise-item-text {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.expertise-bar {
    width: 80%;
    background-color: transparent;
    border: 1px solid white;
    background-color: rgba(237,237,237,0.2);
    border-radius: 15px;
    padding: 2px;
}

.expertise-bar > div {
    background-color: rgba(255,165,0,05);
    height: 0.5rem;
    border-radius: 10px;
    box-shadow: 0.1rem 0.3rem 1rem orange;
}

.progress-bar1 {
    width: 80%;
}

.progress-bar2 {
    width: 85%;
}

.progress-bar3 {
    width: 88%;
}

.progress-bar4 {
    width: 90%;
}

.progress-bar5 {
    width: 70%;
}

@media screen and (max-width: 768px) {
 
  .section-title {
    font-size: 2.5rem
  }

  .items-wrapper {
      width: 95%;
  }

  .expertise-items {
    gap: 2rem;
    padding: 0;
}

  .expertise-item-text {
    font-size: 1rem;
  }

  .expertise-item-img {
    height: 3.7rem;
}

}