.options-container {
    background-color: rgb(27,27,27);
    width: 100%;
}

  .options-text p {
      text-align: center;
      color: rgb(255, 255, 255);
      padding: 2rem;
      font-size: 1.1rem;
  }

  .option-att {
      color: white;
  }

  .option-att:last-child {
      padding-bottom: 1rem;
  }

  .dev-image {
      height: 15rem;
      width: 15rem;
      border-radius: 10px 10px 0 0;
  }

  .swiper-slides {
      padding: 5rem 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  }

  .option-back {
    position: absolute;
    width: 100%;
    filter: brightness(70%);
  }

  .swiper-slide {
      width: 15rem !important;
      margin: 0 1rem 3rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1rem 1.5rem rgba(237,237,237,0.075);
      border-radius: 0 0 10px 10px;
      background-color: rgba(27,27,27,0.8);
  }

  .slide-content {
      width: 15rem;
  }

  .dev-name {
      padding: 1rem 0;
      text-align: center;
      color: aqua;
  }

  .option-list {
      list-style: none;
      padding: 0 1.7rem;
    }

  .progress-bar {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    margin: 0.7rem 0 0.5rem 0;
  }

  .progress-bar > div{
    background-color: orange;
    height: 0.5rem;
    border-radius: 10px;
  }
  
  .progress-bar.pb1 > div {
    width: 90%;
  }
  
  .progress-bar.pb2 > div {
    width: 60%;

  }
  
  .progress-bar.pb3 > div {
    width: 20%;
  }
  
  .progress-bar.pb4 > div {
    width: 30%;
  }
  
  .progress-bar.pb5 > div {
    width: 50%;
  }
  
  .progress-bar.pb6 > div {
    width: 32%;
  }
  
  .progress-bar.pb7 > div {
    width: 37%;
  }
  
  .progress-bar.pb8 > div {
    width: 65%;
  }
  
  .progress-bar.pb9 > div {
    width: 72%;
  }
  
  .progress-bar.pb10 > div {
    width: 78%;
  }
  
  .progress-bar.pb11 > div {
    width: 41%;
  }
  
  .progress-bar.pb12 > div {
    width: 12%;
  }
  
  .progress-bar.pb13 > div {
    width: 71%;
  }
  
  .progress-bar.pb14 > div {
    width: 28%;
  }
  
  .progress-bar.pb15 > div {
    width: 27%;
  }
  
  .progress-bar.pb16 > div {
    width: 52%;
  }
  
  .progress-bar.pb17 > div {
    width: 44%;
  }
  
  .progress-bar.pb18 > div {
    width: 5%;
  }
  
  .progress-bar.pb19 > div {
    width: 88%;
  }
  
  .progress-bar.pb20 > div {
    width: 92%;
  }
  
  .progress-bar.pb21 > div {
    width: 98%;
  }
  
  .progress-bar.pb22 > div {
    width: 86%;
  }
  
  .progress-bar.pb23 > div {
    width: 100%;
  }
  
  .progress-bar.pb24 > div {
    width: 94%;
  }
  
  .progress-bar.pb25 > div {
    width: 54%;
  }
  
  .progress-bar.pb26 > div {
    width: 89%;
  }
  
  .progress-bar.pb27 > div {
    width: 64%;
  }
  
  .progress-bar.pb28 > div {
    width: 38%;
  }
  
  .progress-bar.pb29 > div {
    width: 14%;
  }
  
  .progress-bar.pb30 > div {
    width: 46%;
  }
  
  .progress-bar.pb31 > div {
    width: 41%;
  }
  
  .progress-bar.pb32 > div {
    width: 51%;
  }
  
  .progress-bar.pb33 > div {
    width: 92%;
  }
  
  .progress-bar.pb34 > div {
    width: 81%;
  }
  
  .progress-bar.pb35 > div {
    width: 48%;
  }
  
  .progress-bar.pb36 > div {
    width: 42%;
  }
  
  .progress-bar.pb37 > div {
    width: 61%;
  }
  
  .progress-bar.pb38 > div {
    width: 32%;
  }
  
  .progress-bar.pb39 > div {
    width: 50%;
  }
  
  .progress-bar.pb40 > div {
    width: 68%;
  }  

  .opt-btn {
      background-image: linear-gradient(rgb(130,252,252),aqua,rgb(2,134,134));
      border: none;
      height: 7rem;
      width: 3rem;
      border-radius: 10px;
      box-shadow: 0 1rem 1.5rem rgba(237,237,237,0.1);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .opt-btn:hover,
  .opt-btn:active {
      filter: opacity(80%);
      box-shadow: 0 1.2rem 2rem rgba(237,237,237,0.2);
  }

  .btn-left {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
  }

  .btn-right {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(50%,-50%);
    z-index: 1;
}

ion-icon {
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (max-width: 768px) {

.options-text p {
    font-size: 0.9rem;
}

.dev-image {
  height: 10rem;
  width: 10rem;
}

.swiper-slide {
  width: 10rem !important;
}

.slide-content {
  width: 10rem;
}

.opt-btn {
  height: 5rem;
  width: 2rem;
}

}