.about-container {
    background-color: rgb(27,27,27);
    overflow: hidden;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 5rem;
}

.about-text h2 {
    color: aqua;
}

.about-text p {
    color: white;
}

.color-text {
    color: aqua;
}

.franklin-img {
    height: 35rem;
    margin-right: 5rem;
}