.dream-container {
    background-color: rgb(15,15,15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dream-text {
    text-align: center;
    width: 70%;
    margin: 3rem 0 5rem 0;
    color: white;
    font-size: 1.1rem;
}

.dream-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    margin: 0 15rem;
    width: 60%;
    align-self: center;
}

.dream-item-text {
    color: aqua;
    font-size: 1.5rem;
}

.dream-item-number {
    color: #444;
    font-size: 5rem;
    font-weight: bold;
}

.dream-item-img {
    height: 30vh;
    width: 20vw;
    border-radius: 5px;
    box-shadow: -0.2rem 0.2rem 0.8rem aqua;
}

.dream-steps {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 5rem;
}