.navbar {
    background-color: transparent;
    top: 1.3rem;
    left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    transform: scale(1.5);

}

.nav-menu {
    background-color: rgb(15,15,15);
    width: 20rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 2;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.nav-main {
    padding: 0rem 0 0rem 1rem;
    font-size: 1.7rem;
    height: 5rem;
}

.nav-sec {
    padding: 0.5rem 0 0.5rem 2.5rem;
    font-size: 1rem;
    height: 3rem;
}

.nav-text a {
    text-decoration: none;
    color: white;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 5px;
}

.nav-text a:hover {
    background-color: aqua;
    color: rgb(15,15,15);
}

.nav-menu-items {
    width: 80%;
    padding-left: 0;
    padding-top: 4rem;
}

.navbar-toggle {
    background-color: rgb(15,15,15);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 2rem;
    top: 1.3rem;
    cursor: pointer;
    transform: scale(1.5);
}

.item-title {
    margin-left: 1rem;
}