body {
  margin: 0;
  font-family: "mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Josefin+Slab:wght@200;400;600&family=Mulish:wght@200;300;400;700&display=swap");